<%- include('layouts/head.ejs')%> <%- include('layouts/navbar.ejs')%>
<!-- Services Start -->
<div style="min-height: calc(100vh - 160px);">
  <div class="container-fluid py-5">
    <div class="container">
      <div class="text-center mx-auto mb-3" style="max-width: 500px">
        <h1
          class="display-4"
          style="color: 1D2A4D; font-size: 30px; font-weight: 600"
        >
          Histori Reservasi
        </h1>
      </div>
      <div class="row g-5">
        <table id="tabel-pengaturan" class="table table-bordered table-hover" style="width:100%">
          <thead>
              <tr>
                  <th>Tanggal</th>
                  <th>Waktu Mulai</th>
                  <th>Waktu Akhir</th>
                  <th>Dokter</th>
                  <th>Biaya</th>
                  <th>Tanggal Diajukan</th>
                  <th>Status Reservasi</th>
                  <th>Aksi</th>
              </tr>
          </thead>
          <tbody>
            <% list_reservasi.forEach(function(value) { %>
              <tr>
                  <td><%= value['jadwal'] ? value['jadwal']['tanggal'] ? formatDate(value['jadwal']['tanggal']) : '' : '' %></td>
                  <td><%= value['jadwal'] ? value['jadwal']["waktu_mulai"] : '' %></td>
                  <td><%= value['jadwal'] ? value['jadwal']["waktu_akhir"] : '' %></td>
                  <td><%= value['jadwal'] ? value['jadwal']["dokter"] ? value['jadwal']['dokter']['nama']: "" : "" %></td>
                  <td><%= value['jadwal'] ? value['jadwal']['dokter'] ? value['jadwal']['dokter']["biaya"] ?  "Rp. " + formatNumberWithDots(value['jadwal']['dokter']['biaya']): "" : "":"" %></td>
                  <td><%= formatDateWithTime(value['tanggal_pengajuan']) %></td>
                  
                  <% var status_jadwal = "";

                    if(value["dibatalkan"]){
                      status_jadwal = "dibatalkan";
                    }else if(value['jadwal']){
                      if(value['jadwal']['status_jadwal']){
                        status_jadwal = value['jadwal']['status_jadwal'];
                      }
                    }
                  
                  %>

                  <td>
                    <% var colour = 'style=font-weight:600;color:' + (
                      status_jadwal === 'dibatalkan' ? '#d60e22' : 
                      status_jadwal === 'diajukan' ? '#ffc107' :
                      status_jadwal === 'selesai' ? '#0da709' :
                      'black'
                      ) + ''; %> 

                    <div <%=colour %>>  
                      <%= status_jadwal %>
                    </div>
                  </td>
                  <td>
                    <% if(status_jadwal === "diajukan") { %>
                    <button type="button" type="button" class="btn btn-danger btn-block btn-sm" style="margin-top: 0px; max-width: 90px; padding: 5px 10px;"
                    onclick="ubahStatus('<%=value[`_id`]%>')" 
                    >
                      <i class="fa fa-times" style="margin-right:10px"></i>Batal
                    </button>  
                    <% } %>
                  </td>
              </tr>
            <% }); %>
          </tbody>
      </table>
      </div>
      </div>
    </div>
  </div>
</div>

<% function formatNumberWithDots(number) { return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); } %>

<%
function formatDate(date) {
    // Define arrays for week names and month names
    const weekNames = [
      "Minggu",
      "Senin",
      "Selasa",
      "Rabu",
      "Kamis",
      "Jumat",
      "Sabtu",
    ];
    var monthNames = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];


    // Get day of the week, day, month, and year components from the date
    const weekName = weekNames[date.getDay()];
    const day = String(date.getDate()).padStart(2, "0"); // Ensure two digits for day
    const monthName = monthNames[date.getMonth()];
    const year = date.getFullYear();

    // Return formatted date string in "WeekName, dd mmm yyyy" format
    return `${weekName}, ${day} ${monthName} ${year}`;
  }

  function formatDateWithTime(dateString) {
     // Create a new Date object from the date string
     const date = new Date(dateString);

    // Get day, month, year, hour, and minute components from the date
    const day = String(date.getDate()).padStart(2, '0'); // Ensure two digits for day
    const month = String(date.getMonth() + 1).padStart(2, '0'); // Month is zero-indexed, so add 1
    const year = date.getFullYear();
    const hours = String(date.getHours()).padStart(2, '0'); // Ensure two digits for hours
    const minutes = String(date.getMinutes()).padStart(2, '0'); // Ensure two digits for minutes

    // Return formatted date string in "dd/mm/yyyy hh:mm" format
    return `${day}/${month}/${year} ${hours}:${minutes}`;
  }
%>
<!-- Services End -->

<script>
  jQuery.noConflict();
(function($) {
    $(document).ready(function() {
      var table = $('#tabel-pengaturan').DataTable({
        "order": [[ 0, "desc" ]],
        "columnDefs": [
            { "width": "120px", "targets": [7] }, // Set specific column widths
            { "width": "140px", "targets": [1, 2] }, // Set specific column widths
            {
                "targets": 0, // Assuming the date column is the first column (index 0)
                "render": function (data, type, row) {
                    // Parse the date string to a JavaScript Date object
                    var date = new Date(data);
                    // Create an array of week names
                    var weekNames = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
                    // Get the week name
                    var weekName = weekNames[date.getDay()];
                    // Get the day of the month
                    var day = date.getDate();
                    // Get the month name
                    var monthNames = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
                    var monthName = monthNames[date.getMonth()];
                    // Get the year
                    var year = date.getFullYear();
                    // Format the date string as 'weekname, day month year'
                    var formattedDate = weekName + ', ' + day + ' ' + monthName + ' ' + year;
                    // Return the formatted date
                    if (type === 'sort' || type === 'type') {
                        // For sorting and type detection, return a sortable format
                        return year + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + day.toString().padStart(2, '0');
                    } else {
                        // For display, return the formatted date
                        return formattedDate;
                    }
                }
            }
        ]
      });
    });
})(jQuery);

  function ubahStatus(id_reservasi){
    var isDelete = confirm('Apakah anda ingin membatalkan reservasi dokter pada tanggal ini?');

    if(isDelete){
      document.location.href='/reservasi/'+ id_reservasi + '/batal';
    }
  } 
</script>
<%- include('layouts/footer.ejs')%>
