<%- include('../../layouts/head.ejs')%> <%- include('../../layouts/navbar.ejs')%>
<!-- Services Start -->
<div style="min-height: calc(100vh - 160px);">
  <div class="container-fluid py-5">
    <div class="container">
      <div style="font-weight: 500; margin-bottom: 20px;"><a href="/pengaturan">Pengaturan</a> / 
        <a href="/pengaturan/pengguna">Pengguna</a> / Ubah</div>
      <div class="text-center mx-auto mb-3" style="max-width: 500px">
        <h1
          class="display-4"
          style="color: 1D2A4D; font-size: 30px; font-weight: 600"
        >
          Form Ubah Pengguna
        </h1>
      </div>
      <div class="row g-5" style="display: flex; justify-content: center;">
        <div style="max-width: 500px;">
          <form method="post" action="/pengaturan/pengguna/ubah">
            <input type="hidden" name="id" value="<%= user_data ? user_data['_id'] : ''%>"/>
            <div class="form-group">
              <label for="exampleFormControlInput1">Username</label>
              <input type="text" class="form-control" name="username" placeholder="" required value="<%= user_data ? user_data['username'] : ''%>">
            </div>

            <div class="form-group mt-2">
              <label for="exampleFormControlInput1">Password</label>
              <input type="text" class="form-control" name="password" placeholder="">
            </div>

            <div class="form-group mt-2">
              <label for="hakAksesSelect">Hak Akses</label>
              <select class="form-control" id="hakAksesSelect" name="hakAkses" required>
                <option value="" disabled>Pilih Hak Akses</option>
                <option value="2" <%= user_data ? user_data['idLevelPengguna'] == 2 ? 'selected': '' : ''%>>Pasien</option>
                <option value="1" <%= user_data ? user_data['idLevelPengguna'] == 1 ? 'selected': '' : ''%>>Administrator</option>
              </select>
            </div>

            <div class="form-group mt-2">
              <label for="exampleFormControlInput1">Nama</label>
              <input type="text" class="form-control" name="nama" placeholder="" required value="<%= user_data ? user_data['nama'] : ''%>">
            </div>


            <div class="form-group mt-2">
              <label for="exampleFormControlInput1">Email</label>
              <input type="email" class="form-control" name="email" placeholder="" value="<%= user_data ? user_data['email'] : ''%>">
            </div>

            <div class="form-group mt-2">
              <label for="exampleFormControlInput1">No Hp</label>
              <input type="text" class="form-control" name="noHp" placeholder="" value="<%= user_data ? user_data['noHp'] : ''%>">
            </div>

            <div class="mt-5" style="display: flex; justify-content: space-between;">
              <a href="/pengaturan/pengguna" type="button" type="button" class="btn btn-light btn-block btn-sm" style="margin-top: 0px; padding: 10px 10px; font-size: 16px; font-weight: 400;">
                Kembali
              </a>  
              <button type="submit" type="button" class="btn btn-primary btn-block btn-sm" style="margin-top: 0px; padding: 10px 10px; font-size: 16px; font-weight: 400;">
                Ubah
              </button>  
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->
<%- include('../../layouts/footer.ejs')%>
