<%- include('../layouts/head.ejs')%> <%- include('../layouts/navbar.ejs')%>
<!-- Services Start -->
<div class="container-fluid py-5" style="min-height: calc(100vh - 160px);">
  <div class="container">
    <div class="text-center mx-auto mb-5" style="max-width: 500px">
      <h1
        class="display-4"
        style="color: 1D2A4D; font-size: 30px; font-weight: 600"
      >
        Pengaturan
      </h1>
    </div>
    <div class="row g-5">
      <% list_pengaturan.forEach(function(value) { %>
        <div class="col-lg-4 col-md-6" key="<%= value['id'] %>">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            style="height: 230px;"
          >
            <div class="service-icon mb-4">
              <i class="fa fa-2x <%= value['icon'] %> text-white"></i>
            </div>
            <h4 class="mb-3"><%= value['nama'] %></h4>
            <a class="btn btn-lg btn-primary rounded-pill" href="<%= value['link'] %>">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>
<!-- Services End -->

<%- include('../layouts/footer.ejs')%>
